<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <debug/>

    <global-method-security jsr250-annotations="enabled" pre-post-annotations="enabled" secured-annotations="enabled"/>


    <http auto-config="true">
        <intercept-url pattern="/welcome*" access="ROLE_USER"/>
        <form-login login-page="/login" default-target-url="/welcome"
                    authentication-failure-url="/loginfailed"/>
        <logout logout-success-url="/logout"/>
    </http>

    <!--pwd:1234   java -jar jacksum.jar -a sha -q "txt:1234"-->
    <authentication-manager>
        <authentication-provider>

            <!-- JDBC access-->

            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="select username, password, enabled from users where USERNAME=?"
                               authorities-by-username-query="select u.username, ur.authority from users u, user_roles ur where u.user_id = ur.user_id and u.username =?"
                    />

            <!-- XML access-->

            <!--<password-encoder hash="sha"/>-->
            <!--<user-service>-->
            <!--<user name="user" password="7110eda4d09e062aa5e4a390b0a572ac0d2c0220" authorities="ROLE_USER"/>-->
            <!--</user-service>-->

        </authentication-provider>
    </authentication-manager>

</beans:beans>